{% extends 'base.html' %}
{% load static %}

{% block title %} Usuários | Trees Everywhere{% endblock %}
{% block page_title %}Listagem Usuários {% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/user.css' %}">
{% endblock %}

{% block content %}
  <div class="users-header">
    <h3>Todos Usuários</h3>
    <a href="{% url 'register_user' %}" class="new-user-btn">+ Novo Usuário</a>
  </div>

  <div class="users-list">
    {% for user in users %}
      <div class="user-card">
        <p><strong>Nome:</strong> {{ user.first_name }}</p>
        <p><strong>Sobrenome:</strong> {{ user.last_name }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Data de Inscrição:</strong> {{ user.profile.joined }}</p>
        <p><strong>Tipo de acesso:</strong> {{ user.type_of_access }}</p>
        <p><strong>Active:</strong> {{ user.is_active }}</p>
      </div>
    {% empty %}
      <p>Usuários Não encontrados.</p>
    {% endfor %}
  </div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/user-list.js' %}"></script>
{% endblock %}
